{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    <title>VGearsup - {{request.user.username}}</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<style type="text/css">

    .hide {
        display: none;
    }
    .myads_pic{
        width: 100%;
        height: 9rem;
        object-fit: cover;
    }

    .warning{
        color: #dc3545;
    }

    #upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    #upload-image {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .image_preview{
        width: 150px;
        height: 150px;
        object-fit: contain;
        object-position: center;
    }

    .red{
        color: red;
    }

    .search {
      width: 100%;
      position: relative;
    }

    #search{
      padding-bottom: 5px;
      margin-bottom: 2rem;
    }

    .searchTerm {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      border: 3px solid #1ab188;
      padding: 5px;
      height: 40px;
      border-radius: 5px;
      outline: none;
    }

    .myhr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    /*NAVBAR TABS*/

    .tab-pane{
        width: 100%;
    }

    nav > .nav.nav-tabs{

      border: none;
        color:#fff;
        background:#272e38;
        border-radius:0;

    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
      border: none;
        padding: 18px 25px;
        color:#fff;
        background:#272e38;
        border-radius:0;
    }

    nav > div a.nav-item.nav-link.active:after
     {
      content: "";
      position: relative;
      bottom: -60px;
      left: -10%;
      border: 15px solid transparent;
      /*border-top-color: #e74c3c ;*/
      /*border-top-color: #1ab188;*/
    }
    .tab-content{
      background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        /*border-top:5px solid #e74c3c;
        border-bottom:5px solid #e74c3c;*/
        padding:30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
        border: none;
        background: #1ab188;
        /*background: #e74c3c;*/
        color:#fff;
        border-radius:0;
        transition:background 0.20s linear;
    }
</style>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <!-- MESSAGES IF ANY -->
  <div class="message">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
  <!-- END MESSAGE SECTION -->

  <div style="height: 5rem;"></div>

  <!-- NAVIGATION TABS - HOME, POST AD and FAVOURITES -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                        {% if fav.instruments.all %}
                        <a class="nav-item nav-link" id="nav-favourites-tab" data-toggle="tab" href="#nav-favourites" role="tab" aria-controls="nav-favourites" aria-selected="false">Favourites</a>
                        {% endif %}
                        <a class="nav-item nav-link" id="nav-postad-tab" data-toggle="tab" href="#nav-postad" role="tab" aria-controls="nav-postad" aria-selected="false">Post AD</a>
                        {% if myads %}
                            <a class="nav-item nav-link" id="nav-myads-tab" data-toggle="tab" href="#nav-myads" role="tab" aria-controls="nav-myads" aria-selected="false">My ADs</a>
                        {% endif %}
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <!-- HOME TAB CONTENTS -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container emp-profile">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-img">
                                        <img src="{{user.appuser.profile_pic.url}}" class="img-circle"/>
                                        <!-- <div class="file btn btn-lg btn-primary">
                                            Change Photo
                                            <input type="file" name="file"/>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile-head">
                                        <h5><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp; {{request.user.username}}</h5>
                                        <h6>Member since: &nbsp {{request.user.date_joined|date:"d M Y"}}</h6>
                                        <!-- <p class="proile-rating">Last Login : <span>{{request.user.last_login|date:"h:i A, d M Y"}}</span></p> -->
                                        <p class="proile-rating">Status :{% if request.user.is_active %}<span class="text-success"> Online </span>{% else %}<span class="text-primary"> Offline</span> {% endif %}</p>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'app:editprofile' %}" class="editProfileLink"> Edit Profile </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-work">
                                        <p>ACTIVITY</p>
                                        <span>ADs Posted : {{adcount}}<br/> Last Login : {{request.user.last_login|date:"h:i A, d M y"}}</span><br/>
                                        <!--<a href="">Bootply Profile</a> -->
                                        <!-- <p>SKILLS</p>
                                        <a href="">Web Designer</a><br/>
                                        <a href="">Web Developer</a><br/>
                                        <a href="">WordPress</a><br/>
                                        <a href="">WooCommerce</a><br/>
                                        <a href="">PHP, .Net</a><br/> -->
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>User Id</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{request.user.username}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p style="text-transform: capitalize;">{{request.user.first_name}} &nbsp {{request.user.last_name}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{request.user.email}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Phone</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{user.appuser.contact}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Location</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{% if user.appuser.location %}{{user.appuser.location}}{% else %} <span class="warning">Please provide your location to help others and buyers.</span> {% endif %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END HOME TAB CONTENTS -->

                    <!-- FAVOURITES TAB CONTENTS -->
                    {% if fav.instruments.all %}
                    <div class="tab-pane fade" id="nav-favourites" role="tabpanel" aria-labelledby="nav-favourites-tab">
                        <div class="container myads">
                            <div class="col-md-12 col-sm-12 search">
                                <input class="searchTerm" placeholder="Search from your Favourites... e.g: Gibson SG" id="search" />
                            </div>
                            {% for f in fav.instruments.all %}
                                <div class="row myad_item" id="item">
                                    <div class="col-sm-12 col-md-6">
                                        <a href="{% url 'app:viewproducts' f.id %}"><img class="myads_pic" src="{{f.photo.url}}"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-4 mob_ad_item_margin">
                                        <div class="item_attributes">
                                            <a href="{% url 'app:viewproducts' f.id %}" class="title"><h5> {{f.name}} </h5></a>
                                            <p> &#x20b9; {{f.price}}</p>
                                            <p> Under: {{f.category}} ,&nbsp;Brand: {{f.brand}}</p>
                                            <p> Sold by: {{f.seller}} ,&nbsp;Condition: {{f.condition}} </p>
                                            <p> You added this item on: {{f.timestamp|date:"d M Y"}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2 mob_ad_item_margin">
                                        <div class="item_actions">
                                            <h6><strong> Actions </strong></h6>
                                            <p>
                                                <form action="{% url 'app:removefavouritesaction' f.id %}">
                                                    <a href="{% url 'app:chat' f.seller.id %}" class="btn btn-success" title="Contact Seller"><i class="fa fa-comment" aria-hidden="true"></i></a>
                                                    &nbsp;
                                                
                                                    <button class="btn btn-danger text-white" title="Remove From Favourites" type="button"data-toggle="modal" data-target="#removeFavConfirm" name="deletefav_btn"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                                </form>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Modal for confirmation for removal of Favourite Item -->
                    <div id="confirm" class="modal fade" id="removeFavConfirm" tabindex="-1" role="dialog" aria-labelledby="removeFavConfirm" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p> Are you sure you want to remove item from your Favourites? This action cannot be undone.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel, Take me back</button>
                            <button type="button" id="deleteFav" class="btn btn-success">Yes I Understand</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Confirmation Modal -->
                    {% endif %}
                    <!-- END FAVOURITES TAB CONTENTS -->

                    <!-- POSTAD TAB CONTENTS -->
                    <div class="tab-pane fade" id="nav-postad" role="tabpanel" aria-labelledby="nav-postad-tab">
                        <div class="container advert-posting">
                            <!-- <div id="ad_intro" class="ad_intro ad_pad">
                                <p> </p>
                            </div> -->
                            <div class="col-md-7" style="margin: 0 auto;">
                                <div class="form-area">  
                                    <form role="form" method="post" action="{% url 'app:postadaction' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <br style="clear:both">
                                        <h3 style="margin-bottom: 25px; text-align: center;">Post an AD</h3>
                                        <p> You can not only buy instruments from VGearsup, you can also sell your new or unused instruments. Hit the button below to start selling. Before you can post and start selling your instruments, please provide some information about the item.</p>

                                        <div class="form-group">
                                            <label for="name">Name: </label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name of Instrument" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="inst_br">Select the brand/make of the item:</label>
                                            <select name="inst_br" id="inst_br">
                                                {% for b in brands %}
                                                    <option value="{{ b.id }}">{{ b.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <br><a href="#" class="addnewstufflink" data-toggle="modal" data-target="#addBrand"> or You can <strong> add new brand here </strong></a>
                                        </div>

                                        <div class="form-group">
                                            <label for="inst_cat">Select the category/type of the Instrument:</label>
                                            <select name="inst_cat" id="inst_cat">
                                                {% for c in categories %}
                                                    <option value="{{ c.id }}">{{ c.title }}</option>
                                                {% endfor %}
                                            </select>
                                            <br><a href="#" class="addnewstufflink" data-toggle="modal" data-target="#addCategory"> or You can <strong> add new category here</strong></a>
                                        </div>

                                        <div class="form-group">
                                            <label for="description">Description: </label>
                                            <textarea class="form-control" type="textarea" name="description" id="description" placeholder="Please give a brief description of the item" maxlength="150" rows="7" required></textarea>
                                            <span class="help-block"><p id="characterLeft" class="help-block">You have reached the limit</p></span>                    
                                        </div>

                                        <div class="form-group">
                                            <label for="preview">Upload an image of the item:</label>
                                            <br/>
                                            <img src="{% static 'images/robo_gallery_logo.png' %}" id="preview" class="image_preview"/>
                                            <br/>
                                            <input type="file" name="inst_photo" id="upload-image" accept="image/*" onchange="loadImage(event)" required>
                                            <label for="upload-image" class="btn btn-secondary">Choose Image</label>
                                            
                                        </div>

                                        <div class="form-group">
                                            <p> What is the condition of the item?</p>
                                            <div class="radio">
                                                <label><input type="radio" name="item_cond" value="Used" checked> &nbsp; Used</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="item_cond" value="New"> &nbsp; New</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="price">Price: (Regular AD / Auction Post)</label>
                                            <input type="number" class="form-control" id="price" name="price" placeholder="Price you are selling it for / Bid starting price" required>
                                        </div>

                                        <div class="form-group">
                                            <p> Is this item for Auction?</p>
                                            <div class="radio">
                                                <label><input type="radio" name="optauc" value="Yes" onclick="show2();"> &nbsp; Yes</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optauc" value="No" onclick="show1();" checked> &nbsp; No</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group hide" id="auction">
                                            <div>
                                                <label for="end_date">Enter the ending date for the bidding/auction:</label>
                                                <input type="date" class="form-control" id="end_date" name="end_date">
                                            </div>
                                            <hr>
                                        </div>

                                        
                                        <div class="form-group">
                                            <button type="reset" id="csh" class="btn btn-danger pull-left">Cancel</button>
                                            <button type="submit" id="submit" name="submit" class="btn btn-success pull-right">Submit AD</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END POSTAD TAB CONTENTS -->


                    <!-- MODALS -->

                        <!-- ADD BRAND MODAL -->
                            <div class="modal fade" id="addBrand" tabindex="-1" role="dialog" aria-labelledby="addBrand" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form action="{% url 'app:addnewbrandaction'%}" method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Brand</h5>  
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p> Name: <span> <input type="text" name="br_name" maxlength="100" placeholder="Enter Brand Name" required> </span> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <span class="hor_spc" style="width: 30px;"></span> 
                                                <button type="submit" class="btn btn-success">Add Brand</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <!-- END ADD BRAND MODAL -->

                        <!-- ADD CATEGORY MODAL -->
                            <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategory" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form action="{% url 'app:addnewcategoryaction'%}" method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Category</h5>  
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p> Name: <span><input type="text" name="cat_title" maxlength="100" placeholder="Category Name" required></span> </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <label for="descpl" class="grouprow">Category Image</label>
                                                            <div class="grouprow imgsection">
                                                                <div class="modalimganbtncontainer">
                                                                    <div class="modalimgareabg"></div>
                                                                    <img src="{% static 'images/robo_gallery_logo.png' %}" id="output" class="image_preview"/>
                                                                </div>
                                                                <div>
                                                                    <input type="file" name="cat_photo" id="upload-photo" accept="image/*" onchange="loadFile(event)" required>
                                                                    <label for="upload-photo" class="btn btn-secondary">Choose Image</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer margintop">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <span class="hor_spc" style="width: 30px;"></span> 
                                                <button type="submit" class="btn btn-success">Add Category</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <!-- END ADD CATEGORY MODAL -->
                    <!-- END MODALS -->

                    <!-- My ADs Section -->
                    {% if adcount %}
                    <div class="tab-pane fade" id="nav-myads" role="tabpanel" aria-labelledby="nav-myads-tab">
                        <div class="container myads">
                            <div class="col-md-12 col-sm-12 search">
                                <input class="searchTerm" placeholder="Search from your AD Posts... e.g: Gibson SG" id="search" />
                            </div>
                            {% for m in myads %}
                                <div class="row myad_item" id="item">
                                    <div class="col-sm-12 col-md-6">
                                        <a href="{% url 'app:viewmyad' m.id %}"><img class="myads_pic" src="{{m.photo.url}}"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-4 mob_ad_item_margin">
                                        <div class="item_attributes">
                                            <a href="{% url 'app:viewmyad' m.id %}" class="title"><h5> {{m.name}} </h5></a>
                                            <p> &#x20b9; {{m.price}}</p>
                                            <p> Under: {{m.category}} &nbsp;, Brand: {{m.brand}}</p>
                                            <p> Condition: {{m.condition}} </p>
                                            <p> Posted on: {{m.timestamp|date:"d M Y"}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2 mob_ad_item_margin">
                                        <div class="item_actions">
                                            <h6><strong> Actions </strong></h6>
                                            <p>
                                                <!-- <a href="" class="btn btn-success" title="Mark Item as Sold"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp; -->
                                                <form action="{% url 'app:deletead' m.id %}">
                                                    {% csrf_token %}
                                                    <a href="{% url 'app:editad' m.id %}" class="btn btn-primary" title="Edit Post"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                                                    <button class="btn btn-danger text-white" title="Delete AD" type="button"data-toggle="modal" data-target="#deleteadConfirm" name="deletead_btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                </form>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Modal for confirmation for delete of myad Item -->
                    <div id="confirm2" class="modal fade" id="deleteadConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteadConfirm" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p> Are you sure you want to delete item from your ADs? This action cannot be undone.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel, Take me back</button>
                            <button type="button" id="deleteAD" class="btn btn-success">Yes I Understand</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Confirmation Modal -->
                    <!-- END MY ADS -->
                </div>

            </div>
        </div>
    </div>
<!--         </div> Unknown closing tags. May not be necessary
    </div> -->

  <!-- END NAVIGATION TABS -->
{% endblock %}

{% block endimports %}

<!-- Search -->
<script>
  jQuery(document).ready(function($){
    $('.searchTerm').on("keyup",function(e){
      var query = $(this).val().toLowerCase();
      $("#item .title").filter(function(){
        var $this = $(this);
        if($this.text().toLowerCase().indexOf(query) === -1)
          $this.closest('#item').fadeOut();
        else
          $this.closest('#item').fadeIn();
      });
    });
  });
</script>

<!-- Characters Left (for POST AD Description) -->
<script>
$(document).ready(function(){
  $('#characterLeft').text('150 characters left');
    $('#description').keydown(function () {
        var max = 150;
        var min = 2;
        var len = $(this).val().length;
        if (len >=  min) {
            var ch = max - len;
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
                        
        }
        else if (len >= max) {
            $('#characterLeft').addClass('red');
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').addClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>

<!-- If item is for auction -->
<script>
    function show1(){
        document.getElementById('auction').style.display ='none';
    }
    function show2(){
        document.getElementById('auction').style.display = 'block';
    }
</script>

<!-- Preview Image Before Uploading (AD Image) -->
<script>
    var loadImage = function(event) {
        var prev = document.getElementById('preview');
        prev.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<!-- Preview Image Before Uploading (Category Image) -->
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<!-- To remove from favourites -->
<script>
    $('button[name="deletefav_btn').on('click', function(e) {
        var $form = $(this).closest('form');
        e.preventDefault();
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
        .on('click', '#deleteFav', function(e) {
            $form.trigger('submit');
        });
    });
</script>

<script>
    $('button[name="deletead_btn').on('click', function(e) {
        var $form = $(this).closest('form');
        e.preventDefault();
        $('#confirm2').modal({
            backdrop: 'static',
            keyboard: false
        })
        .on('click', '#deleteAD', function(e) {
            $form.trigger('submit');
        });
    });
</script>
{% endblock endimports %}