{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  {% if request.user.is_authenticated %}
    <title>VGearsup - {{request.user.username}}</title>
  {% else  %}
    <title>Welcome to VGearsup</title>
  {% endif %}
{% endblock %}

{% block head %}
<style type="text/css">
  .cat_lnk{
    color: #343a40;
    transition: 0.5s ease;
  }

  .cat_lnk:hover{
    text-decoration: none;
    color: #343a40;
    opacity: 0.5;
    transition: 0.5s ease;
  }
</style>
{% endblock %}

{% block header %}
    <header class="bg-pri text-white index_header">
      <div class="container text-center">
        <h1 class="headTitle Titlelogo">Welcome to VGearsup</h1>
        <p class="lead headSub">Your one stop for musical instruments</p>
      </div>
    </header>
{% endblock %}

{% block content %}
  <div class="message">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
    <!-- <section id="search">
      <div class="container">
        
      </div>
    </section> -->

    <section id="categories">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 search">
            <input class="searchTerm" placeholder="Enter your search term ... e.g: Gibson SG" id="search" /><!-- <input class="searchButton" type="button" /> -->
          </div>
        </div>
        <div class="spc" style="height: 2rem;"></div>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Browse from categories</h2>
            <!-- <p class="lead">Browse instruments by category. </p> -->
          </div>
        </div>

        <div class="row">

          {% for c in categories %}
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="item">
              <div class="category_item">
                <div class="cat_image">
                  <a class="cat_lnk" href="/category/{{c.id}}"><img src="{{c.cat_image.url}}" alt="category" class="category_image"></a>
                </div>
                <div class="cat_title">
                  <a class="cat_lnk title" href="/category/{{c.id}}"><h4> {{c.title}}</h4></a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section>

    {% if request.user.is_authenticated %}
    <section id="postad" class="postad">
      <div class="container">
        <div class="row">
          <h4> Post an AD</h4>
        </div>
      </div>
    </section>
    {% endif %}

    <section id="about" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About this page</h2>
            <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
            <ul>
              <li>Clickable nav links that smooth scroll to page sections</li>
              <li>Responsive behavior when clicking nav links perfect for a one page website</li>
              <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
              <li>Minimal custom CSS so you are free to explore your own unique design options</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block endimports %}
<!-- Search Script -->
<script>
  jQuery(document).ready(function($){
    $('.searchTerm').on("keyup",function(e){
      var query = $(this).val().toLowerCase();
      $("#item .title").filter(function(){
        var $this = $(this);
        if($this.text().toLowerCase().indexOf(query) === -1)
          $this.closest('#item').fadeOut();
        else
          $this.closest('#item').fadeIn();
      });
    });
  });
</script>
{% endblock %}