{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    <title>VGearsup - {{request.user.username}}</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<style type="text/css">

    .hide {
        display: none;
    }
    .myads_pic{
        width: 100%;
        height: 9rem;
        object-fit: cover;
    }

    .warning{
        color: #dc3545;
    }

    .image_preview{
        width: 150px;
        height: 150px;
        object-fit: contain;
        object-position: center;
    }

    .red{
        color: red;
    }

    .myhr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    /*NAVBAR TABS*/

    .tab-pane{
        width: 100%;
    }

    nav > .nav.nav-tabs{

      border: none;
        color:#fff;
        background:#272e38;
        border-radius:0;

    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
      border: none;
        padding: 18px 25px;
        color:#fff;
        background:#272e38;
        border-radius:0;
    }

    nav > div a.nav-item.nav-link.active:after
     {
      content: "";
      position: relative;
      bottom: -60px;
      left: -10%;
      border: 15px solid transparent;
      /*border-top-color: #e74c3c ;*/
      /*border-top-color: #1ab188;*/
    }
    .tab-content{
      background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        /*border-top:5px solid #e74c3c;
        border-bottom:5px solid #e74c3c;*/
        padding:30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
        border: none;
        background: #1ab188;
        /*background: #e74c3c;*/
        color:#fff;
        border-radius:0;
        transition:background 0.20s linear;
    }
</style>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <!-- MESSAGES IF ANY -->
  <div class="message">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
  <!-- END MESSAGE SECTION -->

  <div style="height: 5rem;"></div>

  <!-- NAVIGATION TABS - HOME, POST AD and FAVOURITES -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                        {% if u2_fav.instruments.all %}
                        <a class="nav-item nav-link" id="nav-favourites-tab" data-toggle="tab" href="#nav-favourites" role="tab" aria-controls="nav-favourites" aria-selected="false">{{user2}}'s Favourites</a>
                        {% endif %}
                        {% if u2_ads %}
                            <a class="nav-item nav-link" id="nav-myads-tab" data-toggle="tab" href="#nav-myads" role="tab" aria-controls="nav-myads" aria-selected="false">{{user2}}'s ADs</a>
                        {% endif %}
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <!-- HOME TAB CONTENTS -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container emp-profile">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-img">
                                        <img src="{{user2.profile_pic.url}}" class="img-circle"/>
                                        <!-- <div class="file btn btn-lg btn-primary">
                                            Change Photo
                                            <input type="file" name="file"/>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile-head">
                                        <h5><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp; {{user2.user.username}}</h5>
                                        <h6>Member since: &nbsp {{user2.user.date_joined|date:"d M Y"}}</h6>
                                        <!-- <p class="proile-rating">Last Login : <span>{{request.user.last_login|date:"h:i A, d M Y"}}</span></p> -->
                                        <p class="proile-rating">Status :{% if user2.user.is_active %}<span class="text-success"> Online </span>{% else %}<span class="text-primary"> Offline</span> {% endif %}</p>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'app:chat' user2.id %}" class="editProfileLink"><i class="fa fa-telegram" aria-hidden="true"></i> &nbsp;Send Message to {{user2}} </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-work">
                                        <p>ACTIVITY</p>
                                        <span>ADs Posted : {{adcount}}<br/> Last Login : {{user2.user.last_login|date:"h:i A, d M y"}}</span><br/>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>User Id</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{user2.user.username}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p style="text-transform: capitalize;">{{user2.user.first_name}} &nbsp {{user2.user.last_name}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{user2.user.email}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Phone</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{user2.contact}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Location</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{% if user2.location %}{{user2.location}}{% else %} <span class="warning">{{user2.user.username}} has not provided location yet.</span> {% endif %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END HOME TAB CONTENTS -->

                    <!-- FAVOURITES TAB CONTENTS -->
                    {% if u2_fav.instruments.all %}
                    <div class="tab-pane fade" id="nav-favourites" role="tabpanel" aria-labelledby="nav-favourites-tab">
                        <div class="container myads">
                            {% for f in u2_fav.instruments.all %}
                                <div class="row myad_item" id="item">
                                    <div class="col-sm-12 col-md-6">
                                        <a href="{% url 'app:viewproducts' f.id %}"><img class="myads_pic" src="{{f.photo.url}}"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mob_ad_item_margin">
                                        <div class="item_attributes">
                                            <a href="{% url 'app:viewproducts' f.id %}" class="title"><h5> {{f.name}} </h5></a>
                                            <p> &#x20b9; {{f.price}}</p>
                                            <p> Under: {{f.category}} &nbsp;, Brand: {{f.brand}}</p>
                                            <p> Condition: {{f.condition}} </p>
                                            <p> {{user2}} added this item on: {{f.timestamp|date:"d M Y"}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- END FAVOURITES TAB CONTENTS -->

                    

                    <!-- My ADs Section -->
                    {% if adcount %}
                    <div class="tab-pane fade" id="nav-myads" role="tabpanel" aria-labelledby="nav-myads-tab">
                        <div class="container myads">
                            {% for m in u2_ads %}
                                <div class="row myad_item" id="item">
                                    <div class="col-sm-12 col-md-6">
                                        <a href="{% url 'app:viewmyad' m.id %}"><img class="myads_pic" src="{{m.photo.url}}"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mob_ad_item_margin">
                                        <div class="item_attributes">
                                            <a href="{% url 'app:viewproducts' m.id %}" class="title"><h5> {{m.name}} </h5></a>
                                            <p> &#x20b9; {{m.price}}</p>
                                            <p> Under: {{m.category}} &nbsp;, Brand: {{m.brand}}</p>
                                            <p> Condition: {{m.condition}} </p>
                                            <p> Posted on: {{m.timestamp|date:"d M Y"}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- END MY ADS -->
                </div>

            </div>
        </div>
    </div>
<!--         </div> Unknown closing tags. May not be necessary
    </div> -->

  <!-- END NAVIGATION TABS -->
{% endblock %}

{% block endimports %}
{% endblock endimports %}